.cart {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 3px;
  padding-left: 2px;
}
/*
Band-aid styling for cart h2
*/
#cart {
  margin-bottom: 4px;
}
.cart span {
  font-size: x-large;
}
.cart ul {
  background-color: rgb(220, 255, 255);
  border: 5px solid whitesmoke;
  padding: 0;
  margin: 0;
}
#empty {
  border: 5px solid whitesmoke;
  background-color: rgb(220, 255, 255);
}
.cart-p {
  margin-top: 0;
  padding: 10px;
}
.cart-p button {
  margin-left: 3ch;
  margin-right: 3ch;
  padding-right: 10px;
  padding-left: 10px;
}
.cart li {
  border-bottom: 5px solid rgb(198, 248, 237);
}
.cart-item:last-of-type {
  border: 0px;
}
