.plant-list {
  display: grid;
  border: 5px solid whitesmoke;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(5ch, auto);
  max-height: 100%;
  max-width: 100%;
  gap: 3px;
  background: ghostwhite;
  padding: 0px;
}
.plant-list li {
  grid-column: span 1;
  text-align: center;
}
.plant-list li:nth-child(odd) {
  background-color: rgb(198, 248, 237);
}

.plant-list li:nth-child(even) {
  background-color: rgb(220, 255, 255); /* White for even rows */
}
figure {
  font-size: 3rem;
}
.plant-button {
  margin-bottom: 1ch;
}
h3 {
  margin: 0px;
}
